<p id="notice"><%= notice %></p>

<p>
  <b>Animal:</b>
  <%= @symptom.animal_id %>
</p>

<p>
  <b>Problem:</b>
  <%= @symptom.problem_id %>
</p>


<%= link_to 'Edit', edit_symptom_path(@symptom) %> |
<%= link_to 'Back', symptoms_path %>
